<% content_for :title, 'Swedimport.se | Startsida' %>
<% content_for :slider do %>
	<div id="sliderContainer">
		<div class="centerContainer">
			<div id="sliderPrevBtn">
				<%= image_tag('frontend/btnPrev.png', :alt => 'Previous') %>
			</div>
			<div id="mainSlider">
				<ul>
				    <li>
				        <%= image_tag('frontend/slider/sliderImg1.png', :alt => 'IMG01', :class => 'slideImg fl') %>
				        <h1>Vibrationsdämpare</h1>
				        <p class="sliderParagraph">I ett flertal olika modeller och dimensioner. Ring och beställ din broschyr på 0581-13500</p>
								<div class="blankSeparator"></div>
				    </li>
				    <li>
				        <%= image_tag('frontend/slider/sliderImg2.png', :alt => 'IMG01', :class => 'slideImg fl') %>
				        <h1>S-Kroken</h1>
				        <p class="sliderParagraph">Lika smidig att sätta dit som att ta av. Ring och beställ din broschyr på 0581-13500</p>
								<div class="blankSeparator"></div>
				    </li>
				    <li>
				        <%= image_tag('frontend/slider/sliderImg3.png', :alt => 'IMG01', :class => 'slideImg fl') %>
				        <h1>Hörnskydd</h1>
				        <p class="sliderParagraph">Ett flertal olika modeller för att skydda din produkt vid transport. Ring och beställ din broschyr på 0581-13500</p>
								<div class="blankSeparator"></div>
				    </li>
				</ul>
			</div>
			<div id="sliderNextBtn">
				<%= image_tag('frontend/btnNext.png', :alt => 'Next') %>
			</div>
		</div>
	</div>
<% end %>

<div id="serviceListContainer">
	<div class="centerContainer">
		<% @featured.each do |feature| %>
			<div class="oneThird">
				<% unless feature.photos.first.nil? %>
					<%= image_tag(feature.photos.first.image_url(:large), :class => "fl") %>
				<% end %>
				<h3 class="sectionTitle">
						<% if feature.has_children? %>
							<%= link_to feature.name, feature %>
						<% else %>
							<%= link_to feature.name, category_products_path(feature) %>
						<% end %>
				</h3>
				<p><%= feature.description %></p>
			</div>
		<% end %>
	</div>
</div>
<div class="centerContainer">
	<div class="sepContainer"></div>
</div>
<div class="centerContainer">
	<div id="leftContainer" class="fl">
			<h3 class="sectionTitle">Senaste <span>nytt</span></h3>
			<ul id="newsList">
				<% @news.each do |item| %>
			    <li>
						<span><%= item.created_at.localtime.to_s(:short) %></span>
			    	<h3><%= item.title %></h3>
						<p><%= item.content %></p>
			    </li>
				<% end %>
			</ul>
		</div>
	<div id="rightContainer" class="fr">
		<h3 class="sectionTitle">Om <span>Swedimport</span></h3>
		<p>
			Swedimport har i 35 års tid arbetat med plastdetaljer för industrin. Därför har vi ett av Sveriges ledande sortiment på över 5.000 produkter. Detta tillsammans med vår kunskap leder till att vi löser de flesta av våra kunders önskemål och problem.
		</p>
		<blockquote><p>Service är vår styrka och därför kan ni räkna med att få de produkter ni behöver.</p></blockquote>
		<p>
			Swedimport finns i Lindesberg, 40 km norr om Örebro. Örebro är en terminalort vilket borgar för säkra leveranser. Våra kunder finns utspridda över hela landet men vi levererar även till våra nordiska grannländer. 
		</p>
		<%= image_tag 'frontend/huset_small.jpg', :alt => 'Huset' %>
	</div>
</div>