<% if category.is_root? %>
	<tr id="node-<%= category.id %>">
<% else %>
	<tr id="node-<%= category.id %>" class="child-of-node-<%= category.parent_id %>">
<% end %>
	<td><%= link_to category.name, admin_category_products_path(category) %></td>
	<td><%= category.description %></td>
	<td class="actions">
		<%= link_to_icon 'show', admin_category_path(category) %>
		<%= link_to_icon 'edit', edit_admin_category_path(category) %>
		<%= link_to_icon 'destroy', admin_category_path(category), 
				:confirm => "Det här tar bort kategorin och alla tillhörande kategorier. Vill du fortsätta?",
				:method => :delete %>
	</td>
</tr>