<% content_for :javascript do %>
	$("tr:even").addClass("even");
<% end %>

<% if @products.empty? %>
	
	<div class="block">
		<div class="block-head">
			<h2>Listar produkter för <%= @category.name %></h2>
		</div>
		<div class="block-content centered">
			<p><%= link_to 'Lägg till produkt', new_admin_category_product_path, :class => "button" %></p>
			<p style="margin-top:30px;"><%= link_to "Tillbaka till kategorier", admin_categories_path %></p>
		</div>
	</div>

<% else %>

	<% form_for :product, :url => destroy_multiple_admin_category_products_path do %>
	
		<div class="block">
			<div class="block-head">
				<h2>Listar produkter för "<%= @category.name %>"</h2>
			</div>
			<div class="block-content">
				<table>
					<thead>
					  <tr>
							<th class="checkbox"></th>
					    <th>Benämning</th>
					    <th>Mått</th>
					    <th class="actions">Åtgärder</th>
					  </tr>
					</thead>
					
					<tbody>
						<%= render :partial => "product", :object => @products %>
					</tbody>
				</table>
				
				<div class="form_buttons">
					<%= link_to 'Lägg till produkt', new_admin_category_product_path, :class => "button" %>
					<%= submit_tag 'Ta bort markerade', :class => "bulk_delete" %>
				</div>
			</div>
			<p><%= link_to "Tillbaka till kategorier", admin_categories_path %></p>
		</div>
		
	<% end %>
	
<% end %>

