<% @children.each do |category| %>
	<div class="categoryBox fl">
		<div class="img">
			<% if category.is_root? %>
				<% if category.has_children? %>
					<%= link_to image_tag(category.photos.first.image_url(:large)), category unless category.photos.first.nil? %>
				<% else %>
					<%= link_to image_tag(category.photos.first.image_url(:large)), category_products_path(category) unless category.photos.first.nil? %>
				<% end %>
			<% else %>
				<% if category.has_children? %>
					<%= link_to image_tag(category.photos.first.image_url(:medium)), category unless category.photos.first.nil? %>
				<% else %>
					<%= link_to image_tag(category.photos.first.image_url(:medium)), category_products_path(category) unless category.photos.first.nil? %>
				<% end %>
			<% end %>
		</div>
		<div class="description">
			<% if category.has_children? %>
				<h3><%= link_to category.name, category %></h3>
			<% else %>
				<h3><%= link_to category.name, category_products_path(category) %></h3>
			<% end %>
		</div>
	</div>
<% end %>