<% content_for :title, @category.name %>
<div class="sidebarContainer fl">
	<div class="sidebarItem">
		<div class="sidebarHeader">
			<h3>Produkter</h3>
		</div>
		<ul class="arrowlist">
			<li><%= link_to "Alla produkter", categories_path %></li>
			<li class="activeSidebarItem"><%= @category.name %></li>
			<% @children.each do |child| %>
				<% if child.has_children? %>
					<li><%= link_to child.name, child %></li>
				<% else %>
					<li><%= link_to child.name, category_products_path(child) %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
<div id="pageContent" class="fr">
	<% if @children.empty? %>

		<p>Inga kategorier är skapade</p>

	<% else %>

		<%= render :partial => 'category', :object => @children %>

	<% end %>
</div>